spring:
  application:
    name: customer-service

  datasource:
    url: jdbc:postgresql://localhost:15432/customerdb
    username: customer
    password: customer123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

server:
  port: 8080
